


footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
}

.jumbotron {
    background-color: #cccc;
   padding: 10px;
   border-radius: 5px;
   margin: 15px;
    
}

.card{
    margin: 8px;
}